body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

section {
  padding: 80px 20px;
  text-align: center;
}

.hero {
  background: #0f172a;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero h2 {
  color: #38bdf8;
}

.btn {
  background: #2563eb;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  background: #0f172a;
  color: white;
  padding: 20px;
  text-align: center;
}

.hero h1 {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  background: #0f172a;
  color: white;

  position: sticky;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
}

.hero {
  background: #0f172a;
  color: white;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #38bdf8;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: white;
  padding: 25px;
  border-radius: 12px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}